.fundo {
    animation: scales 3s alternate infinite;
    transform-origin: center;
}

.pao-baixo {
    animation: rotatepao 14s cubic-bezier(.1, .49, .41, .97) infinite;
    transform-origin: center;
}

.pao-cima {
    animation: rotatepao 7s 1s cubic-bezier(.1, .49, .41, .97) infinite;
    transform-origin: center;
}

.olhos {
    animation: olhos 2s alternate infinite;
    transform-origin: center;
}

.left-sparks {
    animation: left-sparks 4s alternate infinite;
    transform-origin: 150px 156px;
}

.right-sparks {
    animation: left-sparks 4s alternate infinite;
    transform-origin: 310px 150px;
}

.olhos {
    animation: olhos 2s alternate infinite;
    transform-origin: center;
}

@keyframes scales {
    from {
        transform: scale(0.98)
    }

    to {
        transform: scale(1)
    }
}

@keyframes rotatepao {
    0% {
        transform: rotate(0deg)
    }

    50%,
    60% {
        transform: rotate(-20deg)
    }

    100% {
        transform: rotate(0deg)
    }

}

@keyframes olhos {
    0% {
        transform: rotateX(0deg);
    }

    100% {
        transform: rotateX(30deg);
    }
}

@keyframes left-sparks {
    0% {
        opacity: 0;
    }

}

.wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #3f3d56;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main > svg {
    max-width: 400px;
}

.pageNotFoundText {
    position: relative;
}

.pageNotFoundText h1{
    font-size: 6vw;
}

.pageNotFoundText h1:after{
    content: "";
    top: 50%;
    animation: typewriter 8s linear 1;
    animation-fill-mode: forwards;
}

@keyframes typewriter {
    0% {
      content: "P|";
    }
    3% {
      content: "Pa";
    }
    8% {
      content: "Pag|";
    }
    12% {
      content: "Page ";
    }
    16% {
      content: "Page N|";
    }
    18% {
      content: "Page Np";
    }
    20% {
      content: "Page N|";
    }
    24% {
      content: "Page No";
    }
    27% {
      content: "Page Not|";
    }
    32% {
      content: "Page Not F";
    }
    35% {
      content: "Page Not Fo|";
    }
    37% {
      content: "Page Not Fou";
    }
    40% {
      content: "Page Not Foum|";
    }
    42% {
      content: "Page Not Fou";
    }
    46% {
      content: "Page Not Foun|";
    }
    51% {
      content: "Page Not Found";
    }
    57% {
      content: "Page Not Found.|";
    }
    58% {
      content: "Page Not Found..";
    }
    60% {
      content: "Page Not Found...|";
    }
    66% {
      content: "Page Not Found... D";
    }
    74% {
      content: "Page Not Found... Du|";
    }
    75% {
      content: "Page Not Found... Dum";
    }
    77% {
      content: "Page Not Found... Dumb|";
    }
    78% {
      content: "Page Not Found... Dumba";
    }
    79% {
      content: "Page Not Found... Dumbas|";
    }
    80% {
      content: "Page Not Found... Dumbass";
    }
    87% {
        content: "Page Not Found... Dumbas";
    }
    87.5% {
        content: "Page Not Found... Dumba";
    }
    88% {
        content: "Page Not Found... Dumb";
    }
    88.5% {
        content: "Page Not Found... Dum";
    }
    89% {
        content: "Page Not Found... Du";
    }
    90% {
        content: "Page Not Found... D";
    }
    92% {
        content: "Page Not Found... |";
    }
    96% {
        content: "Page Not Found...| ";
    }
    100% {
        content: "Page Not Found...";
    }
}

.path {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: dash 4s alternate infinite;
}

@keyframes dash {

    0%,
    30% {
        fill: 4B4B62;
        stroke-dashoffset: 0;
    }

    80%,
    100% {
        fill: transparent;
        stroke-dashoffset: -200;
    }


}